figure {
  background-size: cover;
}

div.gallery {
 flex-direction: row;
}

.gallery {
  overflow: hidden;
  position: relative;
  margin: 65px;
}

.galleryRail {
  display: flex;
  transition: all .3s ease;
}

.galleryRail img {
  display: block;
  margin: 0 auto;
}

.galleryRail figure {
  width: 90vw;
  min-width: 45vw;
}

.galleryNav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: calc(100% - 51px);
}

.galleryNav div {
  position: relative;
  margin: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

.galleryNav .disabled {
  opacity: 0;
  cursor: default;
}


.galleryNav div::before,
.galleryNav div::after {
  content: "";
  position: absolute;
  background: white;
}

.galleryNav div::before {
  width: 5px;
  height: 20px;
}

.galleryNav div::after {
  width: 20px;
  height: 5px;
}

div.small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 800px;
  /*padding: 0 10px 0 0;*/
}

figure.big {
  width: 800px;
  height: 800px;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
}

figure.small {
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}

.big#image1 {
  background-image: url(../images/1.png);
}

.big#image2 {
  background-image: url(../images/20.png);
}

.big#image3 {
  background-image: url(../images/13.png);
}

.big#image4 {
  background-image: url(../images/14.png);
}

.big#image5 {
  background-image: url(../images/7.png);
}

.big#image6 {
  background-image: url(../images/19.png);
}

.big#image7 {
  background-image: url(../images/2.png);
}

.big#image8 {
  background-image: url(../images/8.png);
}

.small#image1 {
  background-image: url(../images/3.png);
}

.small#image2 {
  background-image: url(../images/15.png);
}

.small#image3 {
  background-image: url(../images/5.png);
}

.small#image4 {
  background-image: url(../images/18.png);
}

.small#image5 {
  background-image: url(../images/10.png);
}

.small#image6 {
  background-image: url(../images/11.png);
}

.small#image7 {
  background-image: url(../images/6.png);
}

.small#image8 {
  background-image: url(../images/12.png);
}

.small#image9 {
  background-image: url(../images/16.png);
}

.small#image10 {
  background-image: url(../images/4.png);
}

.small#image11 {
  background-image: url(../images/17.png);
}

.small#image12 {
  background-image: url(../images/21.png);
}

.small#image13 {
  background-image: url(../images/9.png);
}

.small#image14 {
  background-image: url(../images/22.png);
}

.small#image15 {
  background-image: url(../images/23.png);
}

.small#image16 {
  background-image: url(../images/24.png);
}




@media screen and (max-width: 1460px) {
  .body {
    width: 100%
  }
}

@media screen and (max-width: 996px) {
  .allImages.first {
    margin-left: 10px;
  }
  .allImages.last {
    padding-right: 10px;
    width: 985px;
  }
}

#prev {
  transform: rotate(-45deg);
}

#next {
  transform: rotate(135deg);
}

footer.div {
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: black;
  text-decoration: none;
  background-color: rgb(102, 255, 226);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  margin: 2px 0 0 300px;
}
