figure {
  background-size: cover;
}

div.gallery {
 flex-direction: row;
}

.gallery {
  overflow: hidden;
  position: relative;
}

.galleryRail {
  display: flex;
  transition: all .3s ease;
}

.galleryRail img {
  display: block;
  width: 1020px;
  margin: 0 auto;
}

.galleryRail figure {
  width: 50vw;
  min-width: 50vw;
}

.galleryNav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: calc(100% - 51px);
}

.galleryNav div {
  position: relative;
  margin: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

.galleryNav .disabled {
  opacity: 0;
  cursor: default;
}


.galleryNav div::before,
.galleryNav div::after {
  content: "";
  position: absolute;
  background: white;
}

.galleryNav div::before {
  width: 5px;
  height: 20px;
}

.galleryNav div::after {
  width: 20px;
  height: 5px;
}


div.small {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 800px;
  justify-content: space-between;
  padding: 0;
}


figure.big {
  width: 800px;
  height: 800px;
  justify-content: space-between;
}

figure.small {
  width: 400px;
  height: 400px;
}

.big#image1 {
  background-image: url(../images/prague1.jpg);
}

.big#image2 {
  background-image: url(../images/prague2.jpg);
}

.small#image1 {
  background-image: url(../images/prague3.jpg);
}

.small#image2 {
  background-image: url(../images/prague4.jpg);
}

.small#image3 {
  background-image: url(../images/prague5.jpg);
}

.small#image4 {
  background-image: url(../images/prague6.jpg);
}

@media screen and (max-width: 1460px) {
  .body {
    width: 100%
  }
}

@media screen and (max-width: 996px) {
  .allImages.first {
    margin-left: 10px;
  }
  .allImages.last {
    padding-right: 10px;
    width: 985px;
  }
}

#prev {
  transform: rotate(-45deg);
}

#next {
  transform: rotate(135deg);
}
