.gallery2 {
  height: 98.5vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #FAFAFA;
}

section.small2 {
  display: flex;
  flex-direction: column;
  width: 30vh;
  height: 60vh;
  align-items: flex-start;
}

figure {
  background-size: cover;
  background-position: center;
}

figure.big2 {
  width: 60vh;
  height: 60vh;
}

div.small2 {
  width: 30vh;
  height: 30vh;
}

.galleryNav2 {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
}

.galleryNav2 div {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 30px;
  cursor: pointer;
  z-index: 2;
}

.galleryNav2 .circle {
  cursor: default;
}

.galleryNav2 div::before,
.galleryNav2 div::after {
  content: '';
  background: #b7b7b7;
  position: absolute;
	border-radius: 50px;
}

.galleryNav2 div::before {
  width: 9px;
  height: 37px;
  left: 30%;
  top: 30%;
}

.galleryNav2 div::after {
  width: 37px;
  height: 9px;
  left: 30%;
  top: 30%;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: 35px;
}

.circle {
  opacity: 0.7;
}

.circle#prev {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50px;
}

.circle#next {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50px;
}

#prev {
  transform: rotate(-45deg);
}

#next {
  transform: rotate(135deg);
}

.big2#image1 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/13743150_282901958743188_398153517_n.jpg?ig_cache_key=MTMwNzMwOTg4NTQzMTg4NTA1OA%3D%3D.2);
}

.big2#image2 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/13285300_1062084107182625_98375853_n.jpg?ig_cache_key=MTI2MjI1Mzg1NzAzOTAwNTcwMw%3D%3D.2);
}

.big2#image3 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/15101525_853200194818805_8721110267678687232_n.jpg?ig_cache_key=MTM5NDA0MzA0MDU2NTU4Mzg3MQ%3D%3D.2);
}

.big2#image4 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/13703051_1476539009038702_2134674927_n.jpg?ig_cache_key=MTMwNzc5ODIwNzUxMDAxMTkxMQ%3D%3D.2);
}

.big2#image5 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/13714138_998395560280059_2049021693_n.jpg?ig_cache_key=MTMwMDg4OTk2MTk4NTczNDk2MQ%3D%3D.2);
}

.big2#image6 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/14099402_1719244988339199_2092465228_n.jpg?ig_cache_key=MTMyNjY0MDQxNjM5Njk4ODU4MQ%3D%3D.2);
}

.big2#image7 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/14052538_1339747582717099_317420993_n.jpg?ig_cache_key=MTMyOTUzNjAwNjc5MzY1ODg1NA%3D%3D.2);
}

.big2#image8 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/10449143_1703086999934422_1442245149_n.jpg?ig_cache_key=MTIxMDg1Nzg1NTk0NjQwNTk1MQ%3D%3D.2);
}

.small2#image1 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/15877494_1045386755565339_4060263409336188928_n.jpg?ig_cache_key=MTQyNTIzNDM2MzMyMjQ5OTgxOQ%3D%3D.2);
}

.small2#image2 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/14099680_1757782471136549_405144575_n.jpg?ig_cache_key=MTMyODA5Njk5MTgwMDM0NTMzMw%3D%3D.2);
}

.small2#image3 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/12976502_1602248733399986_1221600391_n.jpg?ig_cache_key=MTIyODk0OTA3MTEyMDM4MjA0Mw%3D%3D.2);
}

.small2#image4 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/13725492_1727441460830031_1707838569_n.jpg?ig_cache_key=MTMwMDEzNTE3OTg1OTYxOTA5MA%3D%3D.2);
}

.small2#image5 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/13741325_1019853898111989_1341923745_n.jpg?ig_cache_key=MTMxMDkzNjMwMTkyNjkzODQxOQ%3D%3D.2);
}

.small2#image6 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/13745120_1570532403256345_342696723_n.jpg?ig_cache_key=MTMxMDA4OTQ0OTc4NjU5MTgxMg%3D%3D.2);
}

.small2#image7 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/10817733_1575223996130074_323746953_n.jpg?ig_cache_key=MTIxMDAyMjk3MTMwNDY1NTI1MA%3D%3D.2);
}

.small2#image8 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/13774751_159403284467650_798696145_n.jpg?ig_cache_key=MTMwOTI0MDgzNjcyNjY0ODI1Mw%3D%3D.2);
}

.small2#image9 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/13721054_1621190784857843_1496659004_n.jpg?ig_cache_key=MTI5NzE3NjU2NjI2MjI3MTUzNg%3D%3D.2);
}

.small2#image10 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/14156351_593900067438475_1894355122_n.jpg?ig_cache_key=MTMzMDI2Nzg2NTU4MDE4ODYxNg%3D%3D.2);
}

.small2#image11 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/13584264_1705799516349880_829324031_n.jpg?ig_cache_key=MTI4ODM5OTI1OTU2OTczNjY5NA%3D%3D.2);
}

.small2#image12 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/12797950_1580264692295649_791515963_n.jpg?ig_cache_key=MTE5NDk1ODY3MjA0NzcxNzAxOA%3D%3D.2);
}

.small2#image13 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/13739395_1574718392833039_1796017085_n.jpg?ig_cache_key=MTMxNTI5NjAyMjEzNzkzMzU5MQ%3D%3D.2);
}

.small2#image14 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/12531111_163600650692139_1246233638_n.jpg?ig_cache_key=MTIwMDczMDQwNTU0NzYyMTI0MA%3D%3D.2);
}

.small2#image15 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/12818911_1666116556983947_750995739_n.jpg?ig_cache_key=MTIwNTI2NzcyOTAwNjU0MTM0MA%3D%3D.2);
}

.small2#image16 {
  background-image: url(https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/12816771_1646606708941404_797095151_n.jpg?ig_cache_key=MTIwNTEzMDAzODI0MzgzNDA4Mw%3D%3D.2);
}
