div {
  display: inline-block;
  background-size: cover;
}

.gallery {
  height: 98vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

section.small {
  width: 50vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div.big {
  width: 100vh;
  height: 100vh;
}

div.small {
  width: 50vh;
  height: 50vh;
}

.galleryNav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
}

.galleryNav div {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 30px;
  cursor: pointer;
  z-index: 2;
}

.galleryNav .circle {
  cursor: default;
}

.galleryNav div::before,
.galleryNav div::after {
  content: '';
  background: #b7b7b7;
  position: absolute;
	border-radius: 50px;
}

.galleryNav div::before {
  width: 9px;
  height: 37px;
  left: 30%;
  top: 30%;
}

.galleryNav div::after {
  width: 37px;
  height: 9px;
  left: 30%;
  top: 30%;
}

.circle {
  opacity: 0.7;
}

.circle#prev {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50px;
}

.circle#next {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50px;
}

.big#image1 {
  background-image: url(../images/15.png);
}

.big#image2 {
  background-image: url(../images/18.png);
}

.big#image3 {
  background-image: url(../images/13.png);
}

.big#image4 {
  background-image: url(../images/14.png);
}

.big#image5 {
  background-image: url(../images/7.png);
}

.big#image6 {
  background-image: url(../images/4.png);
}

.big#image7 {
  background-image: url(../images/2.png);
}

.big#image8 {
  background-image: url(../images/8.png);
}

.small#image1 {
  background-image: url(../images/24.png);
}

.small#image2 {
  background-image: url(../images/1.png);
}

.small#image3 {
  background-image: url(../images/19.png);
}

.small#image4 {
  background-image: url(../images/2.png);
}

.small#image5 {
  background-image: url(../images/10.png);
}

.small#image6 {
  background-image: url(../images/11.png);
}

.small#image7 {
  background-image: url(../images/6.png);
}

.small#image8 {
  background-image: url(../images/12.png);
}

.small#image9 {
  background-image: url(../images/16.png);
}

.small#image10 {
  background-image: url(../images/5.png);
}

.small#image11 {
  background-image: url(../images/17.png);
}

.small#image12 {
  background-image: url(../images/23.png);
}

.small#image13 {
  background-image: url(../images/9.png);
}

.small#image14 {
  background-image: url(../images/22.png);
}

.small#image15 {
  background-image: url(../images/21.png);
}

.small#image16 {
  background-image: url(../images/3.png);
}

#prev {
  transform: rotate(-45deg);
}

#next {
  transform: rotate(135deg);
}
